.card{
	width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-block{
	padding-left: 20px;
	padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;        
}

.card-header{
    background-color: transparent !important;
}
    
.col-opcao{
    background-color: #f6f6f6 !important;
}
