body {
    padding-top: 54px;
    background: url(../img/body_bg_gs.jpg) repeat left top;
}

#carousel-prop img{
	width: 100%;
    height: 560px;
}

.navbar-brand{
	font-family: 'Permanent Marker', cursive;
}

table{
	background-color: #acacac7d !important;
    color: white !important;
    margin-top: 40px;
}

table a{
	color: white !important;
}

#carousel-prop{
	margin-bottom: 50px;
	margin-top: 50px;
}

.bg-dark {
    background-color: #0054a7!important;
}

footer {
	padding-top: 20px;
    padding-bottom: 20px;
    background-color: #0054a785 !important;
}

.badge{
	background-color: white;
	color:  #0054a7!important;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.card-img-top{
    width: 125px !important;
    margin: auto !important;
    display: block;
}   

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px !important;
  width: 100px !important;
  outline: black !important;
  background-size: 100%, 100% !important;
  border-radius: 50% !important;
  background-image: none !important;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #1c1c1c; 
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #1c1c1c;
}

.jumbotron{
	background-color: #0054a7 !important;
	margin-top: 20px;
}

.jumbotron h1{
	color: white;
}
